body {
  background-color: rgb(9, 52, 70);
}
.wrapper {
  background-color: rgb(9, 52, 70);
}
.playerAll {
  padding: 15px 0;
}
.tab_list {
  display: flex;
  width: 90%;
  margin: 0 auto 5px;
}
.tab_item:not(:last-of-type) {
  margin-right: 5px;
}
.tab_item {
  flex-grow: 1;
  border: solid 1px rgb(148, 148, 148);
  background-color: rgb(255, 255, 255);
}
.tab_item:first-of-type {
  border-left: solid 1px rgb(148, 148, 148);
}
.tab_button {
  display: block;
  padding: 10px 0;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  transition: background-color 0.5s;
}
.tab_button:hover {
  background-color: rgb(0, 167, 14, 0.3);
}
.tab_button.is-active {
  background-color: rgb(0, 167, 14);
  color: #fff;
}
.playerAll_list {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.playerAll_list.is-active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.playerAll_item:not(:last-of-type) {
  margin-bottom: 8px;
}
.playerAll_item {
  position: relative;
  display: flex;
  width: 90%;
  background-color: #fff;
  border: 1px solid rgb(241, 28, 28);
  padding: 10px 5px;
}
.playerInfo_wrap {
  margin-left: 10px;
  padding: 3px 0;
}
.playerInfo_schoolyear {
  margin-bottom: 8px;
}
.playerInfo_name {
  font-size: 1.6rem;
  margin-bottom: 5px;
  z-index: 1;
}
.playerInfo_link {
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 5px 15px;
  border: 1px solid;
  border-radius: 2px;
  background-color: rgb(231, 248, 253, 0.3);
  color: rgb(0, 71, 225);
  transition: background-color .3s;
}
.playerInfo_link:hover {
  background-color: rgb(209, 236, 245);
}
.playerInfo_num {
  position: absolute;
  top: 0;
  right: 5px;
  color: rgba(53, 53, 52, 0.1);
  font-size: 7rem;
  font-weight: 900;
}
@media (min-width: 520px) {
  /* 520px〜960pxのスタイル */
}
@media (min-width: 960px) {
  .tab_list {
    max-width: 600px;
    width: 100%;
  }
  .playerAll_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 960px;
  }
  .playerAll_container {
    width: 600px;
  }
  .playerAll_list {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }
  .playerAll_list.is-active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .playerAll_item {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(241, 28, 28);
    padding: 10px 5px;
  }
  .playerInfo_face {
    width: 125px;
    height: 125px;
  }
  .playerInfo_wrap {
    margin-left: 20px;
  }
  .playerInfo_schoolyear {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .playerInfo_name {
    font-size: 2.6rem;
  }
  .playerInfo_furigana {
    font-size: 1.4rem;
  }
  .playerInfo_link {
    padding: 15px 35px;
    font-size: 1.2rem;
  }
  .playerInfo_num {
    font-size: 9rem;
  }
}
